In [1]:
import numpy as np
import pandas as pd

In [3]:
sales=pd.Series([24,2,89,32,56,74],index=["Feb","Mar","Jan","May","June","April"])
sales

Feb      24
Mar       2
Jan      89
May      32
June     56
April    74
dtype: int64

In [4]:
sales.reindex(["Jan","Feb","Mar","April","May","June"])  # is tareqay say hum data ko re index yani tarteeb badal saktay
                                                         # hain jis tarah chahain, magar wo temporary ho ga kisi variable
                                                         # may save karain gay to permanent ho ga

Jan      89
Feb      24
Mar       2
April    74
May      32
June     56
dtype: int64

In [5]:
sales

Feb      24
Mar       2
Jan      89
May      32
June     56
April    74
dtype: int64

In [6]:
sales1=sales.reindex(["Jan","Feb","Mar","April","May","June"])
sales1

Jan      89
Feb      24
Mar       2
April    74
May      32
June     56
dtype: int64

In [17]:
sales2=pd.Series(["Charger","Caple","Cover"],index=[0,2,4])
sales2

0    Charger
2      Caple
4      Cover
dtype: object

In [18]:
sales2.reindex(range(6),method="ffill") #is tareqay say hum forward fill kartay hain yani jitnay index hum dain gay utnay
                                        #index karday ga aur value last wali lay ga jo index inser karay ga us kay liya
                                        # last value lay layga

0    Charger
1    Charger
2      Caple
3      Caple
4      Cover
5      Cover
dtype: object

In [19]:
sales2

0    Charger
2      Caple
4      Cover
dtype: object

In [21]:
sales2.reindex(range(8),method="ffill")

0    Charger
1    Charger
2      Caple
3      Caple
4      Cover
5      Cover
6      Cover
7      Cover
dtype: object

In [22]:
sales2   # yay abhi bhi wohi hay is may change nhi kiun k oper wali command sirf temporary kaam karti hay is ko store nhi

0    Charger
2      Caple
4      Cover
dtype: object

In [23]:
sales3=sales2.reindex(range(8),method="ffill")  # ab yay choun k new variable may store ki hay is liyay yay permenant store
sales3                                          # ho gaie hay, permenant k liyay yay treqa hay

0    Charger
1    Charger
2      Caple
3      Caple
4      Cover
5      Cover
6      Cover
7      Cover
dtype: object

In [35]:
data1=pd.DataFrame(np.arange(9).reshape((3,3)),index=["a","b","c"],columns=["Pakistan","Canada","Genmany"])
data1

   Pakistan  Canada  Genmany
a         0       1        2
b         3       4        5
c         6       7        8

In [37]:
sales4=pd.DataFrame([24,2,89,32,56,74],index=["Feb","Mar","Jan","May","June","April"])
sales4

        0
Feb    24
Mar     2
Jan    89
May    32
June   56
April  74

In [65]:
sales5=pd.DataFrame([range(9)],index=["Feb","Mar","Jan","May","June","April"])
sales5

       0  1  2  3  4  5  6  7  8
Feb    0  1  2  3  4  5  6  7  8
Mar    0  1  2  3  4  5  6  7  8
Jan    0  1  2  3  4  5  6  7  8
May    0  1  2  3  4  5  6  7  8
June   0  1  2  3  4  5  6  7  8
April  0  1  2  3  4  5  6  7  8

In [62]:
sales5=pd.DataFrame([range(6)],reshape((2,3)),index=["Feb","Mar","Jan","May","June","April"])
sales5

NameError: name 'reshape' is not defined

In [80]:
sales5=pd.DataFrame(np.arange(30).reshape((6,5)),index=["A","B","D","E","F","G"],columns=["a","b","c","d","e"])
sales5

    a   b   c   d   e
A   0   1   2   3   4
B   5   6   7   8   9
D  10  11  12  13  14
E  15  16  17  18  19
F  20  21  22  23  24
G  25  26  27  28  29

In [45]:
sales5.reshape(2,3)  # reshape ka option DataFrame may nhi is liyay oper line may hum nay np.numpy(arange(3).reshape(6,5))
                     #liya

AttributeError: 'DataFrame' object has no attribute 'reshape'

In [82]:
sales5  # yay actual value aa gai sales5 variable ki , ab agay daykhain next may

    a   b   c   d   e
A   0   1   2   3   4
B   5   6   7   8   9
D  10  11  12  13  14
E  15  16  17  18  19
F  20  21  22  23  24
G  25  26  27  28  29

In [83]:
sales6=sales5.reindex(["A","B","C","D","E","F","G","H"]) # is tarah hum reindexing kar k new new in yani add kar saktay hain
sales6

      a     b     c     d     e
A   0.0   1.0   2.0   3.0   4.0
B   5.0   6.0   7.0   8.0   9.0
C   NaN   NaN   NaN   NaN   NaN
D  10.0  11.0  12.0  13.0  14.0
E  15.0  16.0  17.0  18.0  19.0
F  20.0  21.0  22.0  23.0  24.0
G  25.0  26.0  27.0  28.0  29.0
H   NaN   NaN   NaN   NaN   NaN

In [92]:
sales7=sales6.reindex(columns=["a","h","b","c","d"]) # aur is tarah hum new column add kar saktay hain NaN value wala
sales7

      a   h     b     c     d
A   0.0 NaN   1.0   2.0   3.0
B   5.0 NaN   6.0   7.0   8.0
C   NaN NaN   NaN   NaN   NaN
D  10.0 NaN  11.0  12.0  13.0
E  15.0 NaN  16.0  17.0  18.0
F  20.0 NaN  21.0  22.0  23.0
G  25.0 NaN  26.0  27.0  28.0
H   NaN NaN   NaN   NaN   NaN

In [102]:
column_n=["a","h","b","c","d"]  # is tarah hum kuch makhsoos raws nikal saktay hain ya daikh saktay hain
sales7.loc[["A","C"],column_n]

     a   h    b    c    d
A  0.0 NaN  1.0  2.0  3.0
C  NaN NaN  NaN  NaN  NaN

In [103]:
column_n=["a","h","c","d"]  # is tarah hum kuch makhsoos raws aur columns nikal saktay hain ya daikh saktay hain
sales7.loc[["A","C"],column_n]

     a   h    c    d
A  0.0 NaN  2.0  3.0
C  NaN NaN  NaN  NaN

In [104]:
column_n=["a","h","b","c","d"]  # is tarah hum kuch makhsoos raws aur columns nikal saktay hain ya daikh saktay hain
sales7.loc[["D","E"],column_n]

      a   h     b     c     d
D  10.0 NaN  11.0  12.0  13.0
E  15.0 NaN  16.0  17.0  18.0

In [105]:
column_n=["a","b",]  # is tarah hum kuch makhsoos raws nikal saktay hain ya daikh saktay hain
sales7.loc[["A","B","C","D","E"],column_n]

      a     b
A   0.0   1.0
B   5.0   6.0
C   NaN   NaN
D  10.0  11.0
E  15.0  16.0