**Pandas Practice**

In [2]:
import pandas as pd

In [3]:
sales=pd.Series([100,200,300,400])
sales

0    100
1    200
2    300
3    400
dtype: int64

In [4]:
sales=pd.Series([100,200,300,400],index=["jan","Feb","Mar","Apr"])
sales

jan    100
Feb    200
Mar    300
Apr    400
dtype: int64

In [5]:
sales=pd.Series([100,200,300,400],index=["jan","Feb","Mar","Apr"],name="Detail")
sales

jan    100
Feb    200
Mar    300
Apr    400
Name: Detail, dtype: int64

In [6]:
sales["jan"]   # Single Value find karnay k liya

100

In [7]:
sales[["jan","Feb"]]   # multiple value find karnay k liyay

jan    100
Feb    200
Name: Detail, dtype: int64

In [8]:
sales>300

jan    False
Feb    False
Mar    False
Apr     True
Name: Detail, dtype: bool

In [9]:
sales[sales>300]

Apr    400
Name: Detail, dtype: int64

In [10]:
sales * 2

jan    200
Feb    400
Mar    600
Apr    800
Name: Detail, dtype: int64

In [11]:
sales

jan    100
Feb    200
Mar    300
Apr    400
Name: Detail, dtype: int64

In [12]:
sales=sales*2

In [20]:
sales

jan    200
Feb    400
Mar    600
Apr    800
Name: Detail, dtype: int64

In [13]:
sales = sales / 2

In [14]:
sales

jan    100.0
Feb    200.0
Mar    300.0
Apr    400.0
Name: Detail, dtype: float64

In [15]:
"jan" in sales   # How to confirm an element in an Array

True

In [20]:
sales>200

jan    False
Feb    False
Mar     True
Apr     True
Name: Detail, dtype: bool

In [22]:
sales[sales>200]

Mar    300.0
Apr    450.0
Name: Detail, dtype: float64

In [19]:
sales["Apr"]=450   # Value Change Karnay ka Tareqa
sales

jan    100.0
Feb    200.0
Mar    300.0
Apr    450.0
Name: Detail, dtype: float64

In [23]:
import numpy as np

In [24]:
a=np.array([1,2,3,4,5])
b=np.array(["a","b","c","d","e"])
c=pd.Series(a,index=b)   #Numpy ko Pandas series may convert karna
c

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [25]:
a={"Name":"Naveed","Father Name":"Muhammed Haroon","Sex":"Male"}  #Dictionary
a

{'Name': 'Naveed', 'Father Name': 'Muhammed Haroon', 'Sex': 'Male'}

In [26]:
detail=pd.Series(a)   # dict ko Pandas Series may Call karany ka tareqa , is say key jo hay wo index ban jaiy ge aur value
detail                # value hi rahay gi

Name                    Naveed
Father Name    Muhammed Haroon
Sex                       Male
dtype: object

In [27]:
detail.index   # Pandas Series kay index chk karnay ka tareqa

Index(['Name', 'Father Name', 'Sex'], dtype='object')

In [28]:
detail.index=["Father Name","Name","Sex"]  # is tarah Index ki Location Change kar saktay hain magar value re shuffle ho 
detail                                      # ge yani wo bhi sath sath jagah change kar lain ge , galat nhi hon ge

Father Name             Naveed
Name           Muhammed Haroon
Sex                       Male
dtype: object

In [29]:
a={"Name":"Naveed","Father Name":"Muhammed Haroon","Sex":"Male"}
detail=pd.Series(a,index=["Father Name","Name","Age", "Sex"])
detail     # NaN value means value avaibale nhi

Father Name    Muhammed Haroon
Name                    Naveed
Age                        NaN
Sex                       Male
dtype: object

In [30]:
pd.isnull(detail)

Father Name    False
Name           False
Age             True
Sex            False
dtype: bool

In [31]:
detail.isnull()

Father Name    False
Name           False
Age             True
Sex            False
dtype: bool

In [32]:
detail.notnull()

Father Name     True
Name            True
Age            False
Sex             True
dtype: bool

In [33]:
pd.notnull(detail)

Father Name     True
Name            True
Age            False
Sex             True
dtype: bool

In [45]:
detail.name="Complete Detail"
detail.index.name="Particulars"
detail

Particulars
Father Name    Muhammed Haroon
Name                    Naveed
Age                        NaN
Sex                       Male
Name: Complete Detail, dtype: object

In [46]:
detail.index

Index(['Father Name', 'Name', 'Age', 'Sex'], dtype='object', name='Particulars')

In [47]:
detail.index=["Last Name","First Name","Umer","Gender"] # Index ka naam Change Karnay ka Tariqa
detail

Last Name     Muhammed Haroon
First Name             Naveed
Umer                      NaN
Gender                   Male
Name: Complete Detail, dtype: object

In [55]:
k={"z":9,"a":1,"b":2,"c":3}
pand=pd.Series(k)
pand

z    9
a    1
b    2
c    3
dtype: int64

In [56]:
g={"a":2,"b":5,"c":6,"d":7}
pand2=pd.Series(g)
pand2

a    2
b    5
c    6
d    7
dtype: int64

In [57]:
final=pand+pand2  # agar koi key yani index donu variable may maujood hay to plus karay ga warna NaN day ga
final

a    3.0
b    7.0
c    9.0
d    NaN
z    NaN
dtype: float64

In [58]:
pand+pand2

a    3.0
b    7.0
c    9.0
d    NaN
z    NaN
dtype: float64

In [64]:
pand.index.name="Numeric"   # Key yahi Index ka naam is tarah rakhtay hain
pand.name="Practice"        # Variable ka internal naam is tarah rakhtay hain
pand

Numeric
z    9
a    1
b    2
c    3
Name: Practice, dtype: int64